/* BOILERPLATE */
*, *:before, *:after {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

html {font-size:14px; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}

body {font-style:normal; font-size:1rem; line-height:1.286rem; font-family:helvetica, arial, sans-serif; background-color:#efefef; color:#333; text-align:left;}

#pageWrapper {width:984px; margin:1.429rem auto; border:solid 1px #ccc; background-color:#fff; padding:1rem;}

.pageSection {display:block; margin-top:1.429rem; clear:both;}
.pageSection:first-child {margin-top:0;}

h1,h2,h3,h4,h5,h6 {color:#d06600; font-family:Roboto, "Helvetica Neue", helvetica, arial, sans-serif; font-weight:normal; text-rendering:optimizelegibility;}

h1 {font-size:2rem; line-height:2.286rem;} /* 28px/32px */
h2 {font-size:1.714rem; line-height:2rem;} /* 24px/28px */
h3 {font-size:1.429rem; line-height:1.714rem;} /* 20px/24px */
h4 {font-size:1.286rem; line-height:1.571rem;} /* 18px/22px */
h5 {font-size:1rem; line-height:1.286rem;} /* 14px/18px */
h6 {font-size:1rem; line-height:1.286rem;} /* 14px/18px */

p {margin-top:1rem; font-size:1rem;}
p:first-child, h1 + p {margin-top:0.5rem;}

a, a:focus, a:link {color:#1971c4; text-decoration:none; outline:0;}
a:hover {color:#1c3d73;}
a:active {color:#1c3d73;}

.bulletedList {margin-top:0.5rem;}
.bulletedList li {margin:0.5rem 0 0 0;}
.bulletedList li:first-child {margin-top:0;}
.bulletedList li:before {content:"\f21b"; font-family:"Ionicons"; float:left; margin-right:0.5rem; font-size:0.7143rem;}

.clearContent:after {clear: both; content: "."; display:block; height:0; visibility:hidden;}

@media screen and (max-width: 984px){
  #pageWrapper {width:98%; margin:1% auto;}
}
/* END OF BOILERPLATE */